.flex-col-align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-align-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-col-space-around{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



